* {
    font-family: sans-serif;
}

table {
    border: solid black 1px;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

td, th, tr {
    padding: 0.5em;
    margin: 0;
    border: solid black 1px;
}

.addr {
    text-align:right;
}

.name {
    text-align:center;
}

.desc {
    text-align:left;
}

th {
    background-color: lightgrey;
}

